{% extends 'base.html' %}
{% load static %}
{% block title %}Particular Index{% endblock %}

{% block content %} 
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Particular Index</h1>
    <p class="lead">This is a simple page to demonstrate the particular app functionality.</p>
    <hr class="my-4">
    <p>Use this section to display any specific information related to the particular app.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
{% endblock %}

{% comment %} {% block extra_scripts %} {% endcomment %}