django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
django-filter
psycopg2-binary
python-dotenv
django-environ
django-extensions
django-geojson
django-redis
django-crispy-forms

