{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CMI-Pro{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>  
        <header>
            {% include 'navbar.html' %}
            
        </header>
        <main class="container mt-4">
            
            {% block content %}
            <!-- Content will be injected here -->
            {% endblock %}
            
        </main>
        <footer class="text-center mt-4">
            <p>&copy; 2025 Mengistu Getie. All rights reserved.</p>
        </footer>
        {% block extra_scripts %}
        {% endblock %}

        {% block extra_js %}{% endblock %}

        <script src={%static 'js/htmx.min.js' %}> </script>
    </body>
</html>
