{% extends 'core/base.html' %}

{% block content%}

<main class="col-md-10 ms-sm-auto px-md-4">

  <!-- Page Title -->
  <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Data Instances Sheet </h2>
  </div>

  <!-- KPI Cards -->
  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3">  
        <h6>Total Instances</h6>
        <h3>{{instances|length }}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3">
        <h6>Active Particulars</h6>
        <h3>{{ particulars|length }}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3 color-green">
        <h6>Data Collectors</h6>
        <h3>25</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3">
        <h6>Average Daily Activity</h6>
        <h3>80</h3>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="row mb-4">
    <div class="col-md-12 ">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#instanceFormModal">
        Add New Instance
      </button>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#instanceImportModal">
        Import from File
      </button>
      <button class="btn btn-white " data-bs-toggle="modal" data-bs-target="#">
        <span class="fa-download"> </span>
        Download Excel Template
      </button>
     
     
    </div>
  </div>


<!-- Add Instance Modal -->
 <div id="instanceFormModal" class="modal fade" tabindex="-2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            
            <form id="instance-form" method="POST" action="{% url 'core:create-instance' %}">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title fw-bold">Create Instance</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" onclick='closeInstanceModal' aria-label="Close"></button>
                </div>
                <div class="m-3">

                {{form.as_p}}
                </div>
                
            </form>

            <div class="modal-footer">
            <button class="btn btn-primary" type="submit"> Add Instance </button>
            <button class="btn btn-primary" id='instance-clear' type="cancel" onclick="clearInstanceForm()"> Clear </button>
        </div>
        </div>
    </div>
</div>

<script>
  // Data Instance modal
  const instanceForm = document.getElementById('instance-form');

  function openInstanceModal() {
      new bootstrap.Modal(document.getElementById('instanceFormModal')).show();
  }

  function closeInstanceModal() {

  }
  //close division modal
  function closeInstanceModal() {
      instanceForm.reset();
      var instanceModal = bootstrap.Modal.getInstance(document.getElementById('instanceFormModal'));
      instanceModal.hide();
  }
</script>
{% endblock content %}
