{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<main class="col-md-10 ms-sm-auto px-md-4">

  <!-- Page Title -->
  <div class="d-flex justify-content-between flex-wrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Projects Overview</h2>
  </div>

  <!-- KPI Cards -->
  <div class="row mb-4">
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3">  
        <h6>Active Projects</h6>
        <h3>{{ projects|length }}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3">
        <h6>Active Particulars</h6>
        <h3>{{particulars|length}}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3 color-green">
        <h6>Data Engineers:</h6>
        <h3>{{engineers|length}}</h3>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-stat shadow-sm p-3 mb-3">
        <h6>Data Collectors:</h6>
        <h3>{{collectors|length}}</h3>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="row mb-4">
    <div class="col-md-12 ">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projectFormsModal">
        <span class="fa fa-add"> </span>
        Add Project Information
      </button>
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataImportModal">
        <span class="fa fa-upload"> </span>
        Import Data From File
      </button>
      <button class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#downloadTemplateModal">
        <span class="fa fa-download"> </span>
        Download Excel Templates
      </button>
      

       <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#engineerFormModal">
        <span class="fa fa-add"> </span>
        Add Data Engineer
      </button>

      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dataCollectorFormModal">
        <span class="fa fa-add"> </span>
        Add Data Collector
      </button>
     
     
    </div>
  </div>

  <!-- Project Details Table -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card shadow-sm p-3 mb-3">
        <h5 class="card-title">Project Details</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Project ID</th>
              <th>Type</th>
              <th>Project Location</th>
              <th>Collectors</th>
            </tr>
          </thead>
          <tbody>

            {% for project in projects %}
            <tr>
              <td>{{project.code}}</td>
              <td>{{project.name}}</td>
              <td>{{project.zone}}, {{project.woreda}}, {{project.kebele}}, {{project.town}}</td>
              <td>{{project.collectors.count}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Project Data Engineers Table -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card shadow-sm p-3 mb-3">
        <h5 class="card-title">Project Data Engineers</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Assigned Projects</th>
              <th>Full Name</th>
              <th>Phone Number</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>

            {% for engineer in engineers %}
            <tr>
              <td>
                {% for project in engineer.projects.all %}
                  {{ project.name }}{% if not forloop.last %}, {% endif %}
                  
                  {% empty %}
                  No Projects Assigned
                {% endfor %}

              </td>
              <td>{{engineer.fname}} {{engineer.mname}}</td>
              <td>{{engineer.phone}}</td>
              <td>{{engineer.email}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>



  <!-- Project Data Collectors Table -->
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card shadow-sm p-3 mb-3">
        <h5 class="card-title">Project Data Collectors </h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Assigned Projects</th>
              <th>Full Name</th>
              <th>Phone Number</th>
              <th> Collected Data</th>
            </tr>
          </thead>
          <tbody>

            {% for collector in collectors %}
            <tr>
              <td>
                {% for project in collector.projects.all %}
                  {{ project.name }}{% if not forloop.last %}, {% endif %}
                  
                  {% empty %}
                  No Projects Assigned
                {% endfor %}

              </td>
              <td>{{collector.fname}} {{collector.mname}}</td>
              <td>{{collector.phone}}</td>
              <td>{{collector.instances|length}}</td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Productivity Chart -->
  <div class="row">
    <div class="col-md-12 mb-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Project Productivity Trends</h5>
          <canvas id="prjectStatusChart"></canvas>
        </div>
      </div>
    </div>
  </div>

</main>

<!-- 🚚 Modal: Project Information -->
<div class="modal fade" id="projectFormsModal" tabindex="-1" aria-labelledby="projectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered"> <!-- Centered for better UX -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="truckModalLabel">Project Data Form </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% comment %} 
        <form method="get" id="projectDataTypeForm" action="{% url 'core:projects' %}">
          {% csrf_token %}

          <div>
              <label for="projectInfo">Select Data to be added </label>
              <select id="projectInfo" name="projectInfo" class="form-control" required>
                <option value="null">Select Data To be added</option>
                <option value="project">New Project Record</option>
                <option value="engineer">New Engineer </option>
                <option value="collector">New Collector </option>
              </select>
          </div>
       
        </form>
        {% endcomment %}
        <form method="post" id="projectDataForm" action="{% url 'core:create_project' %}">
          {% csrf_token %}

          <div>
              <label for="projectInfo">Select Data to be added </label>
              <select id="projectInfo" name="projectInfo" class="form-control" required>
                <option value="null">Select Data To be added</option>
                <option value="project">New Project Record</option>
                <option value="engineer">New Engineer </option>
                <option value="collector">New Collector </option>
              </select>
          </div>

          {% if project_form %}
          <div id="project_form" class="form-container" style="display: block">
              <h3>Create New Project Record</h3>
              {{ project_form.as_p }}
          </div>
          {% endif %}


          {% comment %} 
          {% if engineer_form %}
          <div id="engineer_form" class="form-container" style="display: none;">
              <h3>Create New Engineer</h3>
              {{ engineer_form.as_p }}
          </div>
          {% endif %}
          {% if collector_form %}
          <div id="collector_form" class="form-container" style="display: none;">
              <h3> Create New Data Collector Record</h3>
              {{ collector_form.as_p }}
          </div>
         {% endif %} 
         {% endcomment %}
         
          {% comment %} <div class="row">
            {% for field in form %}
              <div class="col-md-6 col-12 mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <div class="text-danger">{{ field.errors }}</div>
                {% endif %}
              </div>
            {% endfor %}

          </div> {% endcomment %}
          <div class="mt-3">
            <button type="button" class="btn btn-primary" onclick="clearForms()" >Clear</button>
            <button type="submit" class="btn btn-success">Save Record</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- 📥 Modal: Import from Excel -->
<div class="modal fade" id="dataImportModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="importModalLabel">Import Data from File</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" id="importForm" action="{% url 'core:import-project-data' %}">
          {% csrf_token %}

          <div>
            <label for="projectInfo">Select Data to be added </label>
            <select id="projectInfo" name="projectInfo" class="form-control" required>
              <option value="null">Select Data To be added</option>
              <option value="project"> Project Records</option>
              <option value="engineer">Data Engineers </option>
              <option value="collector">Data Collectors  </option>
            </select>
          </div>
          <div class="mb-3">
            
            <label for="excelFile" class="form-label">Upload Excel File</label>
            <input type="file" class="form-control" id="excelFile" name="data_file" accept=".xlsx, .xls">
          </div>
          <button type="submit" class="btn btn-success">Import</button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- 📥 Modal: Download Tempelate -->
<div class="modal fade" id="downloadTemplateModal" tabindex="-1" aria-labelledby="downloadTemplateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="downloadTemplateModalLabel">Download Templates</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" id="downloadTemplateForm" action="{% url 'core:download-template' %}">
          {% csrf_token %}

          <div class="row flex">
            <div>
              <label for="projectInfo">Select Data to be added </label>
              <select id="projectInfo" name="projectInfo" class="form-control" required>
                <option value="null">Select Data To be added</option>
                <option value="project"> Project Records</option>
                <option value="engineer">Data Engineers </option>
                <option value="collector">Data Collectors  </option>
              </select>
            </div>

            <div>
              <label for="dataFormat">Select Format </label>
              <select id="dataFormat" name="dataFormat" class="form-control" required>
                <option value="null">Data Format</option>
                <option value="xlsx"> Excel (xlsx or xls) File format</option>
                <option value="csv">CSV Comma Separated </option>
              </select>
            </div>
          </div>
          
          <button type="submit" class="btn btn-success">
            <span class="fa-download"></span>
            Download
          </button>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- 📥 Add New Data Engineer Modal -->
<div class="modal fade" id="engineerFormModal" tabindex="-1" aria-labelledby="engineerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="engineerModalLabel">Data Engineer Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" id="engineerForm" action="{% url 'core:add-engineer' %}">
        
          {% csrf_token %}

          {{ engineer_form.as_p }}
          
          <button type="submit" class="btn btn-success">Add </button>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- 📥 Add New Data Collector Modal -->
<div class="modal fade" id="dataCollectorFormModal" tabindex="-1" aria-labelledby="dataCollectorModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="collectorModalLabel">Data Collector Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" enctype="multipart/form-data" id="dataCollectorForm" action="{% url 'core:add-collector' %}">
          {% csrf_token %}

          {{ collector_form.as_p }}
          
          <button type="submit" class="btn btn-success">Add </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

  document.addEventListener('DOMContentLoaded', function() {
    const selectElement = document.getElementById('projectInfo');
    const formContainers = document.querySelectorAll('.form-container');

    selectElement.addEventListener('change', function() {
        const selectedValue = this.value;

        // Hide all form containers first
        /*
        formContainers.forEach(container => {
            container.style.display = "none";
        });
        */

        // Show the selected form
        if (selectedValue === 'project') {
            document.getElementById('project_form').style.display = 'block';
        } else if (selectedValue === 'engineer') {
            document.getElementById('engineer_form').style.display = 'block';
        } else if (selectedValue === 'collector') {
            document.getElementById('collector_form').style.display = 'block';
        }
    });
});

// Clear button handler
function clearForms() {
    document.getElementById("projectDataForm").reset();

    // Also hide all subforms again
    document.querySelectorAll('.form-container').forEach(container => {
        container.style.display = "none";
    });
}


  // Function to clear all forms
  /* 

  const forms = ['project_form', 'engineer_form', 'collector_form'];
  function clearForms() {
    forms.forEach(formId => {
      const form = document.getElementById(formId);
      if (form) {
        const inputs = form.querySelectorAll('input, select, textarea');
        inputs.forEach(input => {
          if (input.type === 'checkbox' || input.type === 'radio') {
            input.checked = false;
          } else {
            input.value = '';
          }
        });
        form.style.display = 'none'; // Hide the form after clearing
      }
    });


    // Reset the dropdown to default
    const selectedElement = document.getElementById('projectInfo');
    if (selectedElement) {
      selectedElement.value = 'null';
    }

    selectedElement.addEventListener('change', function() {
      const selectedValue = this.value;

    // Get the base URL from the form's action attribute
    const form = document.getElementById('projectDataTypeForm');
    const baseUrl = form.getAttribute('action');
   });  
   window.location.href = baseUrl;
  }

  */
   

  

   
const ctx = document.getElementById('prjectStatusChart').getContext('2d');

const prjectStatusChart = new Chart(ctx, {
    type: 'bar',  // <-- change from 'line' to 'bar'
    data: {
        labels: ['Projects', 'Engineers', 'Collectors'], // each bar represents one category
        datasets: [{
            label: 'Count',  // what the bars represent
            data: [{{projects|length }}, {{engineers|length}}, {{collectors|length}}],  // replace with actual counts from Django
            backgroundColor: [
                'rgba(13, 110, 253, 0.7)',
                'rgba(25, 135, 84, 0.7)',
                'rgba(255, 193, 7, 0.7)'
            ],
            borderColor: [
                'rgba(13, 110, 253, 1)',
                'rgba(25, 135, 84, 1)',
                'rgba(255, 193, 7, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        scales: {
            y: {
                beginAtZero: true,
                precision: 0  // ensures integer ticks
            }
        }
    }
});

</script>
{% endblock %}


